<%=@song.name%>
<form method="POST" action="/songs/<%="#{@song.slug}"%>">
<p>Song Name: <input type="text" id="Name" name="name"></p>
<p>Song Artist:<input type="text" id="Artist Name" name="artist">
and/or, create a new artist:
<%Artist.all.each do |artist|%>
  <input type="checkbox" name="artist_id" id="<%=artist.name%>" value="<%=artist.id%>"><%=artist.name%></input>
<%end%></p>
<p>Song Genre:
  <%Genre.all.each do |genre|%>
    <input type="checkbox" name="genre_id" id="<%=genre.name%>" value="<%=genre.id%>"><%=genre.name%></input>
  <%end%></p>
  and/or, create a new genre:
<input type="text" id="Genre" name="genre"></p>
</p>
<input type="submit" id="submit" value="Save"></form>
